*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.navbar{
    font-family: 'Nunito Sans', sans-serif;
}

h5,p{
    font-family: 'Nunito Sans', sans-serif;
}
.skills p{
    font-size: 15px;
}

.footer{
    border-top-color: rgb(133, 133, 133);
    border-top-style: solid;
    border-top-width: 0.3px;
}

.footer a{
    margin: 1em 1em 1em 1em;
    color: rgb(53, 52, 52);
}